.contact-section {
    padding: 50px 0;
    background-color: transparent;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
    text-align: center; 
}

.contact-info {
    background-color: white; /* Fondo blanco para la caja de información */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.contact-icon img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
